# Distribution file for the PerlinNoiseDemo project.
# http://www.openengine.dk/wiki/Projects/PerlinNoiseDemo

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
git /projects/PerlinNoiseDemo https://github.com/OpenEngineDK/projects-PerlinNoiseDemo.git
git-dev /projects/PerlinNoiseDemo git@github.com:OpenEngineDK/projects-PerlinNoiseDemo.git

# required extensions
git /extensions/TexUtils      https://github.com/OpenEngineDK/extensions-TexUtils.git
git /extensions/FreeImage     https://github.com/OpenEngineDK/extensions-FreeImage.git

git-dev /extensions/TexUtils  git@github.com:OpenEngineDK/extensions-TexUtils.git
git-dev /extensions/FreeImage git@github.com:OpenEngineDK/extensions-FreeImage.git
